//- -----------------------------------------------------------------|
//- DEFAULT LAYOUT
//- -----------------------------------------------------------------|
//- Contains all includes, blocks, & variables for the scaffolding of our default layout.

//- SITE CONFIG
//- ---------------------------------|
include /config/_config

//- PAGE VARIABLES
//- ---------------------------------|
block variables

//- MIXINS
//- ---------------------------------|
include /mixins/_mixins

doctype html
html(lang= pageLang || siteLang)
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible' content='ie=edge')
		if siteResponsive
			meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title= pageTitle
		link(href='css/app.css' rel='stylesheet')
		link(href='apple-touch-icon.png' rel='apple-touch-icon' )
		if siteTheme
			meta(name='theme-color' content= siteTheme)
		if siteVerification
			meta(name='google-site-verification' content= siteVerification)

		//- PAGE SPECIFIC <HEAD>
		//- -------------------------|
		block head

		//- META TAGS
		//- -------------------------|
		if siteMeta
			-
				var metaAdv = {
					'description': (pageDesc || siteDesc),
					'subject': siteSubject,
					'url': siteUrl,
					'rating': siteRating
				}
				var metaData = {
					'fb:app_id': siteFacebookID,
					'og:type': 'website',
					'og:site_name': siteName,
					'og:title': ogTitle,
					'og:description': (ogDesc || siteDesc),
					'og:url': pageUrl,
					'og:type': 'website',
					'og:locale': (pageLang || siteLang) + '_' + siteLocale,
					'og:image': pageImage || siteImage,
					'twitter:card': 'summary',
					'twitter:site': siteTwitter,
					'twitter:url': pageUrl,
					'twitter:title': ogTitle,
					'twitter:description': (ogDesc || siteDesc),
					'twitter:image': pageImage || siteImage
				}
				var metaProp = {
					'name': ogTitle,
					'description': (ogDesc|| siteDesc),
					'image': pageImage || siteImage
				}
			each content, name in metaAdv
				if (content && name)
					meta(name= name content= content)
			each content, property in metaData
				if (content && property)
					meta(property= property content= content)
			each content, itemprop in metaProp
				if (content && itemprop)
					meta(itemprop= itemprop content= content)

	body&attributes(bodyAttrs)

		//- PAGE SPECIFIC HEADER
		//- -------------------------|
		block header

		//- <HEADER> PARTIAL
		//- -------------------------|
		if pageHdr
			include /components/_header

		//- <MAIN#CONTENT> BLOCK
		//- -------------------------|
		block content

		//- <FOOTER> PARTIAL
		//- -------------------------|
		if pageFtr
			include /components/_footer

		//- PAGE SPECIFIC FOOTER
		//- -------------------------|
		block footer

		//- OUTDATED BROWSER
		//- -------------------------|
		include /components/_outdated

		//- JS + ANALYTICS
		//- -------------------------|
		script(src='js/bundle.js')
		if siteAnalytics
			script.
				ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;ga('create','UA-#{siteAnalytics}','auto');ga('send','pageview')
			script(src='https://www.google-analytics.com/analytics.js' async defer)

		//- PAGE SPECIFIC FOOT
		//- -------------------------|
		block foot

		//- DEVELOPER TOOLS
		//- -------------------------|
		if env == 'development' && devTools
			style.
				.pageNav {
					position: fixed;
					bottom: 0;
					right: 0;
					background: black;
					padding: 1rem;
					color: white;
					transform: translate(85%, 85%);
					width: 150px;
					font-size: 12px;
					opacity: 0.5;
					text-transform: uppercase;
					transition: all 0.1s;
				}
				.pageNav:hover {
					transform: none;
					opacity: 1;
				}
			nav.pageNav
				h6 Pages
				ul
					each page in pages
						li
							a(href= page + '.html')= page
